* {
    margin: 0;
    padding: 0;
}

.front-page-img {
    background-image: url('../../img/about/nav-click-img.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;

}
.front-page-img::after {
    content: '';
    position: absolute;
    background-color: rgb(15, 28, 51);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}
header {
    display: flex;
    justify-content: space-between;

}
.Eduford {
    font-size: 2.5rem;
    padding: 0.68rem;
    color: white;
    position: relative;
    margin-top: 1.25rem;
    margin-left: 4.62rem;
    padding: 0.68rem;
    font-weight: bolder
}
.nav-item {
    display: flex;
    padding: 0.62rem;
    position: relative;
    gap: 1.25rem;
    margin-top: 1.56rem;
    margin-right: 5.37rem;
}
.nav-item li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}
.nav-item li {
    list-style: none;
    padding: 0.68rem;


}
.front-page {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.front-page h1 {
    font-size: 4rem;
    text-align: center;
    color: white;


}

/* -------------------about us-----------------------------  */

main{
    display: flex;
    margin: 11rem  11rem 6rem 11rem;
    gap: 2.5rem;
}


.us-heading{
    font-size: 3rem;
    font-weight: bolder;
}
.us-line{
    margin: 1.5rem 0;
}
.us-btn a{
    text-decoration: none;
    color: rgb(175, 11, 11);
    padding: 0.8rem 1.5rem;
    border: 2px solid rgb(175, 11, 11);
    

}
.us-btn{
  margin: 2.8rem 0;
}

.us-2 img{
    height: 25rem;
    width: 33rem;
}

.us-2{
    height: 25rem;
    width: 33rem;
  
}





.about{
    height: 15rem;
}
.about-us-1{
    font-size: 1.7rem;
    text-align: center;
    margin: 2.5rem;
}
.about-us-2{
    text-align: center;
    margin: 0 21rem 0 21rem;
}
.about-us-3{
    text-align: center;
    margin: 2rem ;
}

.copyright{
    text-align: center;
}
.star-review{
font-size: 1.5rem;
 color: rgba(238, 44, 18, 0.87);

}





















